<div ng-controller="AdminCtrl">
    <div class="left">
        <table class="author_table">
            <tr>
                <th>Author</th>
                <th>Writings</th>
                <th>Last Changed</th>
            </tr>
            <tr ng-repeat="author in allAuthors | orderBy: ['name']"  ng-class-odd="'odd'" ng-class-even="'even'">
                <td><a href="#/subscriptions/{{author.id}}">{{author.name}}</a></td>
                <td>{{subscription.writingCount}}</td>
                <td><button ng-click="removeAuthor(author)">x</button></td>
            </tr>
        </table>
    </div>

    <div class="left">
        <div>
            <fieldset>
                <legend>Export/Import</legend>
                <a download="export.json" href="/admin/export">Export Author List</a>
                <input type="file" name="authorsFile" onchange="angular.element(this).scope().doImport(this.files)"/>

            </fieldset>
        </div>
        <div>
            <fieldset>
                <legend>Backup/Restore</legend>
                <a download="backup.json" href="/admin/backup">Backup Data</a>
                <input type="file" name="backupFile" onchange="angular.element(this).scope().doRestore(this.files)"/>
            </fieldset>
        </div>
    </div>
</div>

