
<div>
    <div>
        <button ng-click="checkUpdates()">Check Updates</button>
        <button ng-click="getStatistic()">Get Statistic</button>
        <span ng-bind="updateStatistic"></span>
        <form ng-submit="addAuthor()">
            <label>Add Author URL:</label>
            <input type="text" ng-model="newAuthorUrl" placeholder="Add new Author">
            <input class="btn-primary" type="submit" value="ADD">
        </form>

    </div>
    <div>
        <input class="btn-primary" type="button" value="GET ALL" ng-click="getAuthors()">
        <label>Total:</label><span>{{getTotal()}}</span>
    </div>
    <table>
        <tr>
            <th>Author</th>
            <th>Unread</th>
            <th>Total</th>
            <th>Last Changed</th>
        </tr>
        <tr ng-repeat="author in authors | orderBy: '-lastChangedDate'">
            <td><a href="#/subscriptions/{{author.id}}">{{author.name}}</a></td>
            <td>{{author.link}}</td>
            <td>{{author.writings.length}}</td>
            <td>{{author.lastChangedDate | date:"dd.MM.yy HH:mm"}}</td>
        </tr>
    </table>
</div>