<div>
    <div>
        <a ng-href="{{authorDetails.link}}" ng-bind="authorDetails.name"></a>
        <label>Updated: </label><span>{{authorDetails.lastChangedDate | date:"dd.MM.yy HH:mm"}}</span>
        <label ng-if="authorDetails.unread > 0">Unread: </label><span>{{authorDetails.unread}}</span>
        <label>Total: </label><span>{{authorDetails.writings.length}}</span>
    </div>
    <div ng-if="authorDetails.unread > 0">
        <input type="checkbox">Unread Only</input>

    </div>
    <div>

        <ul>
            <li ng-repeat="writing in authorDetails.writings | orderBy:['-unread','groupName', '-lastChangedDate', 'name']">
                <label>{{$index + 1}}:</label>
                <input type="checkbox" ng-model="writing.unread" ng-change="changeUnreadState(writing)"/>
                <span ng-class="{unread: writing.unread}" >{{writing.groupName}}, <a ng-attr-title="{{writing.description}}" ng-href="{{writing.externalUrl}}">{{writing.name}}</a></span>
                <span ng-class="writing_date">({{writing.lastChangedDate | date:"dd.MM.yy HH:mm"}})</span>
                <span ng-class="writing_size">{{writing.prevSize || 0}}k->{{writing.size|| 0}}k</span>
            </li>
        </ul>
    </div>

    <div>
        <a ng-href="#/subscriptions/">Back To List</a>
    </div>

</div>

