.author {

}

.author_table{
    font-size: medium;
}

.author_table .odd {
    background-color: transparent;
}
.author_table .even {
    background-color: aliceblue;
}

div.left{
    float:left;
    padding-left:10px;
}
div.right{
    float:right;
    padding-right:10px;
}

.extenal-data-area{
    height: auto;
    width: auto;
}
.writing {

}
.writing_group{
    font-size: small;
}
.writing_size{
    font-size: smaller;
}
.writing_date{
    font-size: smaller;
}
.writing_description{
    font-size: smaller;
}

.statistic{
    font-size: small;
}

.unread{
    font-weight: bold;
}