<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../static/css/samlib.css" th:href="@{/css/samlib.css}"  rel="stylesheet" media="screen" />
    <script type="application/javascript" th:if="${user}" onload="getAuthors" th:inline="javascript">

        var samlib = (function(){

            function doAsyncGet(url, callback){
                var xmlHttp = new XMLHttpRequest();
                xmlHttp.onreadystatechange=function(){
                    if (xmlHttp.readyState==4)
                        if(xmlHttp.status==200){
                            callback(xmlHttp.responseText);
                        }
                };
                xmlHttp.open("GET",url,true);
                xmlHttp.send();
            }

            function doAsyncPost(url, params, callback){
                var xmlHttp = new XMLHttpRequest();
                xmlHttp.onreadystatechange=function(){
                    if (xmlHttp.readyState==4)
                        if(xmlHttp.status==200){
                            callback(xmlHttp.responseText);
                        }
                };
                xmlHttp.open("POST",url,true);
                xmlHttp.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
                xmlHttp.send(JSON.stringify(params));
            }

            return {
                info: function(){
                    console.log("SAMLIB INFO");
                },

                getAuthors: function(){
                    console.log("get authors");
                    doAsyncGet("/author/list", function(responseText){
                        document.getElementById("listBlock").innerHTML=responseText;
                    })
                },

                addAuthor: function(urlInputId){
                    var url = document.querySelector(urlInputId).value;
                    console.log("Add Author by URL:", url);
                    var params = {"url":url};
                    doAsyncPost("/author", params, function(){
                        document.getElementById("listBlock").innerHTML=responseText;
                    });

                },

                getDetails: function(authorId){
                    console.log("get details", authorId);
                    doAsyncGet("/author/" + authorId, function(responseText){
                        document.getElementById("detailsBlock").innerHTML=responseText;
                    })
                }

            }
        }());

    </script>
    <title>Spring Security Example</title>
</head>
<body>
<div id="loginBlock">
    <div id="LoginDiv" th:unless="${user}">Please Login:
        <form th:action="@{/home}" method="post">
            <div><label> User Name : <input type="text" name="username"/> </label></div>
            <div><label> Password: <input type="password" name="password"/> </label></div>
            <div><input type="submit" value="Sign In"/></div>
        </form>
    </div>

    <div id="LogoutDiv" th:if="${user}">
        <button onclick="samlib.getAuthors();">GET</button>
        <span th:text="${user.name}">User name</span>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="#{logout.title}"/>
        </form>
    </div>

</div>

<div id="listBlock"></div>
<div id="detailsBlock"></div>
</body>
</html>